# Pastas de dependências (nunca suba isso!)
node_modules/
dist/
build/

# Arquivos do sistema e editores
.vscode/
.idea/
.DS_Store
Thumbs.db

# Arquivos de log e ambientes virtuais
*.log
venv/
.env

# Arquivos de mídia (vídeos e fotos de referência)
*.mp4
*.mov
*.avi
*.jpg
*.png

# Arquivos temporários de editores
.history/

# Arquivos de cache e temporários do VS/VS Code
.vs/
*.dtbcache.v2
*.wsuo
*.sqlite
DocumentLayout.json
VSWorkspaceState.json

**/bin/
**/obj/
**/.vs/
**/.vscode/